/*! purgecss start ignore */
@tailwind base;
@tailwind components;

/*! purgecss end ignore */
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

p {
  @apply mb-4;
}
.case-slider-wrapper p a,
.blogg main p a {
  color: rgba(255, 25, 129, 1);
  font-weight: bold;
}
.case-slider-wrapper p a:hover,
.blogg p a:hover {
  text-decoration: underline;
}
header,
.headroom {
  z-index: 99999 !important;
}

.user-content.contact h3 {
  @apply text-xl font-bold;
}

.headroom--unfixed header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.mango-gradient {
  background: rgb(255, 128, 75);
  background: linear-gradient(
    180deg,
    rgba(255, 128, 75, 1) 20%,
    rgba(255, 25, 129, 1) 100%
  );
}

a.more-link {
  @apply font-bold;
}

footer.footer {
  background: url("images/footer-texture.jpg") repeat-x;
  background-size: cover;
}

.footer-inner {
  background: url("images/grass_01.png") repeat-x;
  background-position: bottom;
}

.slider-item {
  @apply px-12 text-center;
}

/* .overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.overlay-effect:hover {
  opacity: 1;
  filter: grayscale(100);
} */
ul[data-name="carouselWrapper"] {
  min-height: 85vh !important;
}
div.gLijcT {
  bottom: 20px !important;
}
.portfolio-item img {
  transition: filter 0.5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
.portfolio-item img:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

@media (min-width: 640px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .parent div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 4;
  }
  .parent div:nth-child(2) {
    grid-area: 1 / 4 / 2 / 7;
  }
  .parent div:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
  }
  .parent div:nth-child(4) {
    grid-area: 2 / 3 / 3 / 5;
  }
  .parent div:nth-child(5) {
    grid-area: 2 / 5 / 3 / 7;
  }
  .parent div:nth-child(6) {
    grid-area: 3 / 1 / 4 / 3;
  }
  .parent div:nth-child(7) {
    grid-area: 3 / 3 / 4 / 5;
  }
  .parent div:nth-child(8) {
    grid-area: 3 / 5 / 4 / 7;
  }
}

/* .video-bg {
  height: 95vh;
} */

.vimeo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  background-color: #000000;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.vimeo-wrapper:after {
  content: "";
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.case-slider-wrapper .slick-track {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.slick-list {
  height: 100%;
}
.slick-track {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slick-track .slick-slide {
  height: 100% !important;
}

.slick-slide div {
  height: 100%;
}
.slick-slide {
  flex-grow: 1;
  height: 100% !important;
}
.slick-slider {
  height: 100%;
}
.slick-slide.slick-active.slick-current {
  height: 100%;
}

.slick-dots li button:before {
  color: #ffccaa !important;
}
.slick-dots li.slick-active button:before {
  color: #ff12aa !important;
}

ul.slick-dots {
  position: static;
}

.next {
  right: -3.5rem;
}
.prev {
  left: -3.5rem;
}
.next,
.prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-logo {
  width: 500px;
}

html body [data-ca3_iconfont="ETmodules"]::before {
  font-family: "ETmodules";
}
[data-ca3_icon]::before {
  font-weight: normal;
  content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  /* margin-left: -1.75rem; */
  line-height: 60px;
  position: relative;
  bottom: -2rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
  animation: ca3_fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}
@-moz-keyframes ca3_fade_move_down {
  0% {
    -moz-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 20px);
    opacity: 0;
  }
}
@keyframes ca3_fade_move_down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}

.portfolio-item:nth-child(1) .info-box {
  @apply bg-pink-300 bg-opacity-75;
}

.portfolio-item:nth-child(2) .info-box {
  @apply bg-purple-400 bg-opacity-75;
}

.portfolio-item:nth-child(3) .info-box {
  @apply bg-orange-400 bg-opacity-75;
}

.portfolio-item:nth-child(4) .info-box {
  @apply bg-purple-500 bg-opacity-75;
}

.portfolio-item:nth-child(5) .info-box {
  @apply bg-green-300 bg-opacity-75;
}

.portfolio-item:nth-child(6) .info-box {
  @apply bg-teal-300 bg-opacity-75;
}

.portfolio-item:nth-child(7) .info-box {
  @apply bg-pink-400 bg-opacity-75;
}

.portfolio-item:nth-child(8) .info-box {
  @apply bg-yellow-300 bg-opacity-75;
}

.portfolio-item .content,
.blog-item .content {
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .portfolio-item:hover .content,
  .blog-item:hover .content {
    max-height: 5rem;
  }
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-items: center;
  height: 100%;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.carousel-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @apply h-full w-full;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@supports (
  (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.carousel-item-next,
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

@supports (
  (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
  .carousel-item-next,
  .active.carousel-item-right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.carousel-item-prev,
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

@supports (
  (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
  .carousel-item-prev,
  .active.carousel-item-left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}
@media (min-width: 640px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: inline-block;
    width: 40px;
    height: 60px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 25.2.3, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='276.52px' height='512px' viewBox='0 0 276.52 512' style='overflow:visible;enable-background:new 0 0 276.52 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FF12AA;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M270.68,241.95L33.87,5.79C26.11-1.94,13.55-1.93,5.8,5.83c-7.74,7.76-7.72,20.33,0.04,28.07L228.56,256 L5.83,478.11c-7.76,7.74-7.78,20.3-0.04,28.06c3.88,3.89,8.97,5.84,14.06,5.84c5.07,0,10.14-1.93,14.02-5.8l236.82-236.15 c3.74-3.72,5.83-8.78,5.83-14.05C276.52,250.73,274.41,245.68,270.68,241.95z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  transform: rotate(180deg);
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 25.2.3, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='276.52px' height='512px' viewBox='0 0 276.52 512' style='overflow:visible;enable-background:new 0 0 276.52 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FF12AA;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M270.68,241.95L33.87,5.79C26.11-1.94,13.55-1.93,5.8,5.83c-7.74,7.76-7.72,20.33,0.04,28.07L228.56,256 L5.83,478.11c-7.76,7.74-7.78,20.3-0.04,28.06c3.88,3.89,8.97,5.84,14.06,5.84c5.07,0,10.14-1.93,14.02-5.8l236.82-236.15 c3.74-3.72,5.83-8.78,5.83-14.05C276.52,250.73,274.41,245.68,270.68,241.95z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators .active {
  background-color: #ff12aa;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
/* rtl:end:ignore */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;

  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.8;
  transition: opacity 0.15s ease;
}
