/*! purgecss start ignore */
@tailwind base;
@tailwind components;

/*! purgecss end ignore */
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("carousel.css");

body {
  font-family: "Montserrat", sans-serif;
}

p {
  @apply mb-4;
}
.case-slider-wrapper p a,
.blogg main p a {
  color: rgba(255, 25, 129, 1);
  font-weight: bold;
}
.case-slider-wrapper p a:hover,
.blogg p a:hover {
  text-decoration: underline;
}
header,
.headroom {
  z-index: 99999 !important;
}
.headroom--unfixed header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.mango-gradient {
  background: rgb(255, 128, 75);
  background: linear-gradient(
    180deg,
    rgba(255, 128, 75, 1) 20%,
    rgba(255, 25, 129, 1) 100%
  );
}

a.more-link {
  @apply font-bold;
}

footer.footer {
  background: url("images/footer-texture.jpg") repeat-x;
  background-size: cover;
}

.footer-inner {
  background: url("images/grass_01.png") repeat-x;
  background-position: bottom;
}

.slider-item {
  @apply px-12 text-center;
}

/* .overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.overlay-effect:hover {
  opacity: 1;
  filter: grayscale(100);
} */
ul[data-name="carouselWrapper"] {
  min-height: 85vh !important;
}
div.gLijcT {
  bottom: 20px !important;
}
.portfolio-item img {
  transition: filter 0.5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
.portfolio-item img:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

@media (min-width: 640px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .parent div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 4;
  }
  .parent div:nth-child(2) {
    grid-area: 1 / 4 / 2 / 7;
  }
  .parent div:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
  }
  .parent div:nth-child(4) {
    grid-area: 2 / 3 / 3 / 5;
  }
  .parent div:nth-child(5) {
    grid-area: 2 / 5 / 3 / 7;
  }
  .parent div:nth-child(6) {
    grid-area: 3 / 1 / 4 / 3;
  }
  .parent div:nth-child(7) {
    grid-area: 3 / 3 / 4 / 5;
  }
  .parent div:nth-child(8) {
    grid-area: 3 / 5 / 4 / 7;
  }
}

/* .video-bg {
  height: 95vh;
} */

.vimeo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  background-color: #000000;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.vimeo-wrapper:after {
  content: "";
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.case-slider-wrapper .slick-track {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.slick-list {
  height: 100%;
}
.slick-track {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slick-track .slick-slide {
  height: 100% !important;
}

.slick-slide div {
  height: 100%;
}
.slick-slide {
  flex-grow: 1;
  height: 100% !important;
}
.slick-slider {
  height: 100%;
}
.slick-slide.slick-active.slick-current {
  height: 100%;
}

.slick-dots li button:before {
  color: #ffccaa !important;
}
.slick-dots li.slick-active button:before {
  color: #ff12aa !important;
}

ul.slick-dots {
  position: static;
}

.next {
  right: -3.5rem;
}
.prev {
  left: -3.5rem;
}
.next,
.prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-logo {
  width: 500px;
}

html body [data-ca3_iconfont="ETmodules"]::before {
  font-family: "ETmodules";
}
[data-ca3_icon]::before {
  font-weight: normal;
  content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  /* margin-left: -1.75rem; */
  line-height: 60px;
  position: relative;
  bottom: -2rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
  animation: ca3_fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}
@-moz-keyframes ca3_fade_move_down {
  0% {
    -moz-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 20px);
    opacity: 0;
  }
}
@keyframes ca3_fade_move_down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}

.portfolio-item:nth-child(1) .info-box {
  @apply bg-pink-300 bg-opacity-75;
}

.portfolio-item:nth-child(2) .info-box {
  @apply bg-purple-400 bg-opacity-75;
}

.portfolio-item:nth-child(3) .info-box {
  @apply bg-orange-400 bg-opacity-75;
}

.portfolio-item:nth-child(4) .info-box {
  @apply bg-purple-500 bg-opacity-75;
}

.portfolio-item:nth-child(5) .info-box {
  @apply bg-green-300 bg-opacity-75;
}

.portfolio-item:nth-child(6) .info-box {
  @apply bg-teal-300 bg-opacity-75;
}

.portfolio-item:nth-child(7) .info-box {
  @apply bg-pink-400 bg-opacity-75;
}

.portfolio-item:nth-child(8) .info-box {
  @apply bg-yellow-300 bg-opacity-75;
}

.portfolio-item .content,
.blog-item .content {
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .portfolio-item:hover .content,
  .blog-item:hover .content {
    max-height: 5rem;
  }
}

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  @apply flex justify-center items-center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: #333;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}
.flickity-prev-next-button.next {
  right: 10px;
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.carousel-item {
  min-height: 100%;
}
